@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    color: #004d17;
}

h1 {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: black;
}

#title {
    margin: 10px;
    float: left;
    font-size: 250%;

}

#nav {
    font-size: 120%;
    list-style-type: none;
    letter-spacing: 3px;    
}

#title, #nav {
    line-height: 75px;
}

#nav li{
    float: right;
    margin-right: 20px;
}

#nav a {
    text-decoration: none;
    color: inherit;

}

#nav a:hover {
    color: black;
    transition: 0.9s;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    text-transform: uppercase;
}


#about h3 {
    text-align: center;
    text-decoration: underline;
    padding-top: 0px;
}

#about {
    height: 150px;
    border: #004d17 solid;
    padding: 20px;
    margin: 10px;
}



#about p {
    text-align: center;
    padding: 0px 10px 20px 10px;
}

#hero {
    height: 450px;
    width: 100%;
    background-color: #cccccc;
    background-image: url(../img/balll.jpg);
    background-position: center center;
    background-size: cover;

}

#hero-out {
    height: 400px;
    width: 100%;
    overflow: hidden;
}

#join-reasons {
    background-color: #004d17;
    height: 500px;
    color: white;
}

#hello {
    padding-top: 20px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    text-decoration: underline;
}

#left-join {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-join {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-join {
    width: 33%;
    margin: 0 auto;
}

hr {
    border-top: 1px solid white;
    width: 100%;
}

.left-join-heading {
    width: 50%;
    float: right;
    line-height: 15px;
    clear: both;
    margin-bottom: 50px;
}

.right-join-heading {
    width: 50%;
    float: left;
    line-height: 15px;
    clear: both;
    margin-bottom: 50px;
}

.left-join-heading h3 {
    float: left;
    font-size: medium;
    text-transform: uppercase;
}

.right-join-heading h3 {
    float: right;
    font-size: medium;
    text-transform: uppercase;
}

#circle-ball {
    width: 300px;
    height: 300px;
    padding: 20px;
    border-style: ridge;
    border-color: white;
    border-width: medium;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 75px;
}

#ball-bg {
    background: url(../img/circle-ball.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    border-radius: 50%;
}

#events-header {
    padding-top: 15px;
    padding-bottom: 25px;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
}

#events {
    height: 400px;
    border: #004d17 solid;
    padding: 20px;
    margin: 10px;
}

#event-cols {
    width: 80%;
    border: #004d17;
    padding: 20px;
    display: inline;
    height: 250px;
}

.col-1-of-3  {

    width: 30%;
    float: left;
    margin: 0 auto;
    margin-right: 55px;
    padding: 20px;
    padding-right: 30px;
    text-align: left;
}

.col-2-of-3 {

    width: 30%;
    float: left;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    
}

.col-3-of-3 {
    
    width: 30%;
    float: right;
    margin: 0 auto;
    padding: 20px;
    text-align: right;
}

/* footer */
.site-footer {
    background-color: #004617;
	height: 250px;
}

/*Social Media Icons*/
.social-icons {
  text-align: center;
  margin: 0 auto;
  padding-top: 50px;
}

.social-icons li {
    display: inline;
}

.social-icons i {
    font-size: xx-large;
    margin: 30px;
    padding: 20px;
    padding-top: 5%;
    color: white;
}

/*Gallery Styles */
.gallery {
    clear: both;
    text-align: center;
    
    
}

.gallery img {
    width:25%;
    
    


}


.caption {
  padding: 15px;
  text-align: center;
}

/*----- Media Query ------*/

@media screen and (max-width: 1173px) {

    #title {
        text-align: center;
    }

    #nav {
        padding-left: 50px;
        margin: 0 auto;
        clear: left;
        float: left;
        
    }
    #about {
        width: 100%;
        padding: 0;
        margin: 0 auto;
        display: inline-block;
        overflow: scroll;
        }
        
    #about h3 {
        text-align: center;
        }
    
    #join-reasons {
        width: 100%;
        padding: 0;
        overflow: scroll;
        display: inline-block;
        clear: both;
    }

    hr {
        display: none;
    }

    .left-join-heading, .right-join-heading {
        clear: both;
    }

    #center-join {
        clear: both;
        float: left;
        padding-left: 70px;

    }

    #events {
        overflow: scroll;
        display: inline-block;
        width: 100%;
    }

    .gallery img {
        width: 60%;
    }

    .enquire-title {
        width: 100%;
        margin: 0 auto;
        display: inline-block;
        
    }

    .enquire-form {
        width: 100%;
        padding: 0;
        margin: 0 auto;
        display: inline-block;
        overflow: scroll;
}
}

@media screen and (max-width: 769px){
     .enquire-title {
        width: 80%;
        margin: 0 auto;
      
    }

    .enquire-form {
        width: 80%;
        margin: 0 auto;
        display: inline-block;
        overflow: scroll;
    }

    #name {
        display: inline-block;
        width: 60%;
    }

    

    

}

/*--- contact page ---*/

#form-bg {
    height: 600px;
    width: 100%;
    padding: 10px;
    background-color: #cccccc;
    background-image: url(../img/royal-birkdale..jpg);
    background-position: center center;
    background-size: cover; 
}

#contact-out {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

/*------ Form ------*/

.enquire-title {
    width: 800px;
    background-color: rgb(0, 0, 0, 0.6);
    margin: 0 auto;
    color: #ffffff;
    padding: 10px 0px 10px 0px;
    text-align: center;
    border-radius: 15px 15px 0px 0px;
    text-transform: uppercase;
}

.enquire-form {
    background-color: rgb(0, 0, 0, 0.5);
    width: 800px;
    margin: auto;
}

form {
    padding: 10px;
}

#name {
    width: 100%;
    height: 100px;
}

.name {
    margin-left: 25px;
    margin-top: 10px;
    width: 125px;
    color: white;
    font-size: 18px;
    font-weight: 700;
}

.firstname {
    position: relative;
    left: 200px;
    top: -37px;
    line-height: 30px;
    border-radius: 5px;
    padding: 0 22px;
    font-size: 15px;
}

.lastname {
    position: relative;
    left: 417px;
    top: -67px;
    line-height: 30px;
    border-radius: 5px;
    padding: 0 22px;
    font-size: 15px;
    color: #555;
}

.firstlabel {
    position: relative;
    color: #e5e5e5;
    text-transform: uppercase;
    font-size: 12px;
    left: 203px;
    top: -45px;
}

.lastlabel {
    position: relative;
    color: #e5e5e5;
    text-transform: uppercase;
    font-size: 12px;
    left: 203px;
    top: -45px;
}

.email  {
    position: relative;
    left: 200px;
    top: -37px;
    line-height: 30px;
    border-radius: 5px;
    width: 500px;
    padding: 0 22px;
    font-size: 15px;
    color: #555;
}

.date {
    position: relative;
    left: 200px;
    top: -37px;
    line-height: 30px;
    border-radius: 5px;
    font-size: 15px;
    color: #555;
}

.contact {
     position: relative;
    left: 200px;
    top: -37px;
    line-height: 30px;
    border-radius: 5px;
    font-size: 15px;
    color: #555;
}


textarea {
     position: relative;
    left: 200px;
    top: -50px;
    line-height: 30px;
    border-radius: 5px;
    width: 500px;
    padding: 0 22px;
    font-size: 15px;
    color: #555;
}

button {
    background-color: #004d17;
    display: block;
    margin: 0 auto;
    text-align: center;
    border-radius: 12px;
    border: 2px solid white;
    padding: 5px 100px;
    outline: none;
    color: white;
    cursor: pointer;
}



